
.svg-scatterplot-container {
    display: inline-block;
    position: relative;
    /*width: 100%;*/
    padding-bottom:40%; /* aspect ratio */
    vertical-align: left;
    overflow: hidden;
}

@media screen and (max-width: 960px)  {
.svg-scatterplot-container {
    padding-bottom:50%; 
        }
}

#bump-article-section2-hidden{
    display:none;
}

.tooltip{
    margin-right:2%;
}

#selected-memory{
    font-size:1em;
    font-family:Helvetica Neue;
    font-weight:300;
}


@media screen and (min-width:1920px){
    #selected-memory{
    font-size:1.5em;
    }
}

#close-button{
    color:#cc0000;
    float:right;
    font-size:1.3em;
    padding:0% 2% 0% 0%;
}


@media screen and (min-width: 767px) and (max-width:1919px){
   #bump-article{
      padding-left:2%;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px){
   #chart{
      padding-top:12%;
    }
}

@media screen and (min-width: 1920px) {
    #bump-article-section2{
        display:none !important;
    }
    #bump-article-section2-hidden{
        display:inline-block !important;
    }
    #bump-page{
    margin-top:5%;
}
}
