
#chart-canvas{
    float:right;
    width:60%;
    height:500px;
}

#radio-options{
   position:absolute;
   top:72%;
   right:19%;
   width:40%;
}

/*The svg-responsive canvas method isn't working with this chart. Below are the media queries to fix the size and position, for each viewport*/
/*for all mobile screens*/
@media screen and (max-width: 767px)  {
   #chart-canvas{
        clear:both;
        width:100%;
        height:320px;
    }
}


/*iPhone 6*/
@media screen and (max-width: 767px) {
    #eduChart{
        position:absolute;
        top:5%;
        right:4%;
        zoom:0.62;
    }
    #radio-options{
        top:50%;
        left:10%;
        width:100%;
    }
}



/*iPad, portrait*/
@media screen and (min-width:768px) and (max-width: 1080px)  {
   #chart-canvas{
        width:100%;
        float:left;
    }
}



#religion-button, #politics-button{
    margin-left:20px;
}

/*IPAD - PORTRAIT*/
@media screen and (min-width:768px) and (max-width: 1023px)  {
   #radio-options{
     top:50%;
     left:15%
    }
}

/*IPAD - LANDSCAPE*/
@media screen and (min-width:1024px) and (max-width: 1179px)  {
   #radio-options{
     top:65%;
     left:12%
    }
}*/


.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}

.label {
    font-family:Helvetica;
	font-size:0.8em;
    font-weight:400;
}

.perc{
    font-size:0.9em;
    font-family:Helvetica;
}

#religionChart, #politicsChart {
  display:none;
  border:none;
  width:100%;
  height:auto;
  overflow:hidden;
}

#who-article{
    margin:3% 0% 0% 0%;
}
.article-text{
	font-family:Helvetica;
	font-weight:200;
	font-size:1em;
}

#couch{
    float:left;
    width:25%;
    margin-right:5px;
}

@media screen and (max-width: 767px)  {
   #couch{
        width:70%;
    }
}

.a {
        fill: #f2f1ee;
      }

      .b, .c {
        fill: none;
      }

      .c {
        stroke: #000;
        stroke-miterlimit: 10;
      }

      .d {
        font-size: 9.35px;
      }

      .d, .e, .f {
        font-family: Comic Sans MS;
      }

      .e {
        font-size: 12.47px;
      }

      .f {
        font-size: 16.36px;
      }

