

#screen{
      position:absolute;
      top:5%;
      left:15%;
}

video{  
    width:80%;
    height:55%;
    border:1px solid gray;
    border-radius:3%;
}

#slidecast-wrapper{
    width:52%;
    height:auto;
    margin:1% 0% 0% 15%;
}

#play-button:hover, #pause-button:hover, #full-screen-button:hover{
  fill:#ccc;
}


 .a, .b, .c, .d, .e, .g {
        fill: none;
      }

      .a {
        stroke: #000;
      }

      .a, .b, .c, .d, .e {
        stroke-miterlimit: 10;
      }

      .b, .c {
        stroke: #595757;
      }

      .b, .c, .d, .e {
        stroke-width: 0.75px;
      }

      .c, .e {
        stroke-dasharray: 3.95 3.95;
      }

      .d, .e {
        stroke: #494848;
      }

      .f {
        fill: #fff;
      }

      .h {
        fill: #e6e5e5;
      }
