

#screen{
      position:absolute;
      top:5%;
      left:7%;
}


/*video{  
    width:80%;
    height:52%;
    border:1px solid gray;
    border-radius:3%;
}*/

#slidecast-wrapper{
    width:52%;
    height:auto;
    margin:1% 0% 0% 10%;
}

#play-button:hover, #pause-button:hover, #full-screen-button:hover{
  fill:#ccc;
}

#slidecast-text{
      margin-top:5%;
}


/*iPHONES (5, 6, 6+), PORTRAIT*/
@media screen and (min-width:320px) and (max-width:767px){
      #slidecast-wrapper{
         width:95%;
         margin:5% 0% 0% 0%;    
            }
            
       #screen{
         left:9%;
        }
        
       #vimeo-slidecast{
        max-width:85%;
        height:auto;
            }
}

/*iPAD, PORTRAIT*/
@media screen and (min-width:768px) and (max-width:1023px){
      #slidecast-wrapper{
         width:90%;
         margin:5% 0% 0% 5%;    
            }
      #screen{
        width:100%;
        height:auto;
        left:5%;
            }
      #vimeo-slidecast{
        width:576px;
        height:324px;
            }
}

/*iPAD, landscape*/
@media screen and (min-width:1024px) and (max-width:1279px){
      #slidecast-wrapper{
         width:60%;
         margin:5% 0% 0% 5%;    
            }
       #vimeo-slidecast{
        width:487px;
        height:274px;
       }
}

/*Mac 21.5 inch desktop*/
@media screen and (min-width:1920px){
      #vimeo-slidecast{
        width:768px;
        height:432px;
            }
}

/*Mac 27 inch desktop*/
@media screen and (min-width:2300px){
      #vimeo-slidecast{
        width:921px;
        height:518px;
            }
      #screen{
        left:10%;
      }
}


 .a, .b, .c, .d, .e, .g {
        fill: none;
      }

      .a {
        stroke: #000;
      }

      .a, .b, .c, .d, .e {
        stroke-miterlimit: 10;
      }

      .b, .c {
        stroke: #595757;
      }

      .b, .c, .d, .e {
        stroke-width: 0.75px;
      }

      .c, .e {
        stroke-dasharray: 3.95 3.95;
      }

      .d, .e {
        stroke: #494848;
      }

      .f {
        fill: #fff;
      }

      .h {
        fill: #e6e5e5;
      }
