/*Splash page*/

/*Website title and subtitle*/
.splash-title-area{
    position:absolute;
    z-index:3;
}

.splash-title{
    font-family: 'Playfair Display SC', serif;
    font-size:6.5em;
}

#mmp-title{
    width:100%;
}

#subtitle, #byline{
    font-family:Helvetica Neue;
    font-weight:100;
}

#subtitle{
    font-size:2em;
}

#byline{
    font-size:1.4em;
}

#plug-in{
    font-family: serif;
    font-weight:200;
    font-size:1.5em;
    margin:10% 0% 0% 40%;
}

#pointer{
    font-size:1.2em;
    position:absolute;
    padding-left:3%;
    }

/*The phone cord and wall jack*/
#cover-illustration{
    position:absolute;
    top:5%;
    right:5%;
    width:50%;
}

.jack{
    width:85%;
    margin-left:5%;
    z-index:2;
}

.cord{
    position:absolute;
    top:55%;
    right:50%;
    width:80%;
    z-index:2;
}

/*Show Y2K compliant message and loader wheel when user enters the site*/
#compliant-message{
    display:none;
    text-align:center;
    margin-top:20%;
    background:white;
    /*font-family: 'VT323', monospace;    //old school, 90's bitmap font*/
    font-family:Helvetica Neue;
    font-size:1.2em;
    font-weight:200;
}

#loader-area{
    display:none;
    margin-top:20%;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  float:none;
  margin:auto;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*Change z-index of the title and illustration on mobile and tablet, so the drag and drop works*/
@media screen and (max-width:1236px){
      .splash-title-area{
        z-index:1;
      }
      .cord, .jack{
        z-index:200; 
        }
}

/*iPHONE 5, PORTRAIT*/
@media screen and (min-width:320px) and (max-width:767px){
      .splash-title{
         font-size:3em;
      }
      #subtitle{
        font-size:1em;
      }
      
      #byline{
        font-size:0.9em;
      }
      
      #plug-in{
        font-size:1em;
        margin:5% 0% 10% 0%;
      }
      
      #pointer{
        font-size:1em;
        }
      #cover-illustration{
        top:20%;
        }
       #loader-area{
        padding-right:5%;
       }
}

/*iPHONE 6, PORTRAIT*/
@media screen and (min-width:375px) and (max-width:767px){
      .splash-title{
         font-size:3.5em;
      }
      #subtitle{
        font-size:1.2em;
      }
      #byline{
        font-size:1em;
      }
      #pointer{
        font-size:1.2em;
        }
      #cover-illustration{
        top:22%;
        }
}

/*iPHONE 6+, PORTRAIT*/
@media screen and (min-width:414px) and (max-width:767px){
      .splash-title{
         font-size:4em;
      }
      #subtitle{
        font-size:1.3em;
      }
}

/*iPAD, PORTRAIT*/
@media screen and (min-width:768px) and (max-width:1023px){
      #subtitle{
        font-size:1.8em;
      }
      
      #plug-in{
        font-size:1.2em;
        margin:5% 10% 10% 20%;
      }
      
      #pointer{
        font-size:1em;
        }
      #cover-illustration{
        top:20%;
        }
       #loader-area{
        padding:0%;
       }
}

/*Kindle Fire, PORTRAIT and PC desktops*/
@media screen and (min-width:1600px) and (max-width:1918px){
    .splash-title-area{
        top:2%;
        left:5%;
      }
      .splash-title{
         font-size:4.5em;
      }
      #subtitle{
        font-size:1.5em;
      }
      #byline{
        font-size:1.2em;
      }
      
      #plug-in{
        font-size:1.1em;
        margin:5% 20% 0% 0%;
      }
      
      #pointer{
        font-size:1em;
        }
      #cover-illustration{
        top:20%;
        }

}

/*Mac desktop, 21.5 inch (1920 x 1080)*/
@media screen and (min-width:1919px) and (max-width:2560px){
      .splash-title-area{
        top:5%;
        left:10%;
      }
      .splash-title{
         font-size:10em;
          }
      #subtitle{
        font-size:3em;
      }
      #byline{
        font-size:1.8em;
      }
      
      #plug-in{
        font-size:2em;
        margin:5% 20% 0% 0%;
      }

      #pointer{
        font-size:1em;
        }
        
      #cover-illustration{
        top:20%;
        }
}

