.splash-title-area{
    position:absolute;
    z-index:10;
}

.splash-title{
    font-family: 'Playfair Display SC', serif;
    font-size:6.5em;
}

#mmp-title{
    width:100%;
}

#subtitle{
    font-family:Helvetica Neue;
    font-weight:100;
    font-size:2em;
}

#plug-in{
    font-family: serif;
    font-weight:200;
    font-size:1.5em;
    margin:15% 0% 0% 40%;
}

#pointer{
    font-size:1.2em;
    position:absolute;
    padding-left:3%;
    }

#cover-illustration{
    position:absolute;
    top:5%;
    right:5%;
    width:50%;
    z-index:3;
}

.jack{
    width:85%;
    margin-left:5%;
    z-index:1;
}

.cord{
    position:absolute;
    top:55%;
    right:50%;
    width:80%;
    z-index:2;
}

 .a {
        fill: #fff;
      }

      .b {
        fill: #d1cfcf;
      }

      .c {
        fill: #f5f3f3;
      }

      .d {
        fill: #f8f7f7;
      }

/*iPHONE 5, PORTRAIT*/
@media screen and (min-width:320px) and (max-width:767px){
      .splash-title{
         font-size:3em;
      }
      #subtitle{
        font-size:1em;
      }
      
      #plug-in{
        font-size:1em;
        margin:5% 0% 10% 0%;
      }
      
      #pointer{
        font-size:1em;
        }
      #cover-illustration{
        top:20%;
        }
}

/*iPHONE 6, PORTRAIT*/
@media screen and (min-width:375px) and (max-width:767px){
      .splash-title{
         font-size:3.5em;
      }
      #subtitle{
        font-size:1.2em;
      }
      #pointer{
        font-size:1.2em;
        }
      #cover-illustration{
        top:22%;
        }
}

/*iPHONE 6+, PORTRAIT*/
@media screen and (min-width:414px) and (max-width:767px){
      .splash-title{
         font-size:4em;
      }
      #subtitle{
        font-size:1.3em;
      }
}

/*iPAD, PORTRAIT*/
@media screen and (min-width:768px) and (max-width:1023px){
      #subtitle{
        font-size:1.8em;
      }
      
      #plug-in{
        font-size:1.2em;
        margin:5% 10% 10% 20%;
      }
      
      #pointer{
        font-size:1em;
        }
      #cover-illustration{
        top:20%;
        }

}

/*Kindle Fire, PORTRAIT*/
@media screen and (min-width:1600px) and (max-width:2560px){
      .splash-title{
         font-size:12em;
      }
      #subtitle{
        font-size:4em;
      }
      
      #plug-in{
        font-size:3em;
        margin:20% 20% 0% 0%;
      }
      
      #pointer{
        font-size:1em;
        }
      #cover-illustration{
        top:20%;
        }

}

/*Mac desktop, 21.5 inch (1920 x 1080)*/
@media screen and (min-width:1919px) and (max-width:2560px){
      .splash-title-area{
        top:5%;
        left:10%;
      }
      .splash-title{
         font-size:5em;
          }
      #subtitle{
        font-size:2em;
      }
      
      #plug-in{
        font-size:1em;
        margin:5% 20% 0% 0%;
      }

      #pointer{
        font-size:1em;
        }
        
      #cover-illustration{
        top:20%;
        }
     .container{
        background:yellow;
     }

}

