
.hamburger{
    float:right;
    margin-right:2%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    font-weight:300;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#page-content, #navbutton{
     transition: 0.5s;
}

.page-number, .project-title, .next-page{
    float:left;
    font-family:Copperplate;
}

.pipe{
    font-weight:100;
    color:#ccc;
    padding-left:5px;
}

.next-page{
    padding-right:5px;
}

#next-arrow {
    width:30%; 
}

#page-fade-in {
    display:none;
}

#methods{
    color:red;
}

#methods-lightbox{
    transition:0.5s;
    z-index:10;
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
}

#methods-closer{
    float:right;
    font-size:2em;
}

#methods-closer a:hover{
   color:#ccc;
   text-decoration:none;
}

#big-letter {
    float:left;
    font-size:22em;
    font-family:Garamond;
    line-height:50%;
    shape-outside:circle(50%);
    -webkit-shape-outside:circle(50%);/*Safari*/
    margin:20px 20px 20px 0px;
}


@media screen and (max-width: 767px)  {
   #big-letter{
        font-size:10em;
        margin:10px;
    }
}

/*Mac desktop, 21.5 inch*/
@media screen and (min-width: 1919px)  {
   #big-letter{
        font-size:10em;
        margin:10px;
    }
}


#lead{
    font-size:1.7em;
}

@media screen and (max-width: 767px)  {
   #lead{
        font-size:1em;
    }
}

.mmp-headline{
    font-family: 'Playfair Display SC', serif;
    font-size:1.7em;
}

.small-and{
    font-family:Bookman bold;
	font-size:0.8em;
}

.article{
    padding-top:5%;
}

.article-text{
	font-family:Helvetica;
	font-weight:200;
	font-size:1.1em;
}

#pull-quote{
    line-height:1.1;
}

#computer-guy{
    width:40%;
    -moz-width:40%;
    float:right;
}

@media screen and (min-width:320px) and (max-width: 767px)  {
   #computer-guy{
        width:60%;
    }
}

/*Kindle Fire*/
@media screen and (min-width:1600px) and (max-width:1919px) {
    body{
        font-size:3em;
        margin:10% 0% 0% 0%;
    }
}

@media screen and (min-width:1919px){
    .container{
        min-width:90%;
    }
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: left;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}