/*MAIN STYLE SHEET*/

.container{
    padding-top:2%;
}

/*SIDE DRAWER MENU*/

.hamburger{
    float:right;
    margin-right:2%;
    padding-top:3%;
    z-index:1000;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    font-family:Helvetica;
    font-weight:100;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.divider{
    color:#eeeeee;
    padding-left:32px;
}

.social-links{
    margin-top:10%;
}

@media screen and (max-width:767px){
    .social-links{
      margin-top:5%;
     }
}

.facebook{
    margin:10% 0% 0% 14%;
    border-radius:20%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#page-content, #navbutton{
     transition: 0.5s;
}

.footer{
    padding-bottom:2%;
}

.page-number, .project-title{
    float:left;
    font-family:Copperplate;
}

.pipe{
    font-weight:100;
    color:#ccc;
    padding-left:5px;
}

/*The project title in the footer links back to the splash page*/
.splash-link {
    color:black;
}

.splash-link:hover{
    text-decoration:none;
}

.next-page{
    max-width:40%;
}

#next-arrow {
    width:25%;
    margin-left:80%;
}

.page-fade-in {
    display:none;
}

/*Methods and Limitations lightbox; might be used on multiple pages*/
#methods{
    color:#cc0000;
}

#methods a:hover{
    text-decoration: none;
}

#methods-lightbox{
    transition:0.5s;
    z-index:10;
    position:absolute;
    top:5%;
    left:5%;
    width:90%;
}

#survey-link{
color:#cc0000;
}

#methods-closer{
    float:right;
    font-size:2em;
}

#methods-closer a:hover{
   color:#ccc;
   text-decoration:none;
}

/*Intro page*/

#big-letter {
    float:left;
    font-size:12em;
    font-family:Garamond;
    line-height:50%;
    shape-outside:circle(50%);
    -webkit-shape-outside:circle(50%);/*Safari*/
    margin:20px 20px 20px 0px;
}

#lead{
    font-size:1.7em;
}

#computer-guy{
    width:40%;
    -moz-width:40%;
    float:right;
}

/*Phones*/
@media screen and (max-width: 767px)  {
   #big-letter{
        font-size:7em;
        margin:10px;
    }
    
   #lead{
        font-size:1em;
    }
    
   #computer-guy{
    width:60%;
    -moz-width:60%;
    float:right;
    }
    
   .footer{
        height:33px;
    }
    
   .next-page{
    max-width:22%;
    }
    
   #next-arrow {
    width:100%;
    margin-top:10%;
    margin-left:0;
    }
}

/*Mac desktop, 21.5 inch*/
@media screen and (min-width: 1919px)  and (max-width:2299px){
   #big-letter{
        font-size:10em;
        margin:10px;
    }
}

/*Mac desktop, 27 inch*/
@media screen and (min-width: 2300px) {
   #big-letter{
        font-size:14em;
    }
}


.mmp-headline{
    font-family: 'Playfair Display SC', serif;
    font-size:1.7em;
}

.small-and{
    font-family:Bookman bold;
	font-size:0.8em;
}

.article{
    padding-top:5%;
}

.article-text{
	font-family:Helvetica;
	font-weight:200;
	font-size:1.1em;
}

#pull-quote{
    line-height:1.1;
}


/*Kindle Fire*/
@media screen and (min-width:1600px) and (max-width:1919px) {
    body{
        font-size:3em;
        margin:10% 0% 0% 0%;
    }
}

@media screen and (min-width:1919px){
    .container{
        min-width:90%;
    }
}

/*Responsive SVG canvases for the D3 charts*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: left;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*About the Author page*/

#self-portrait{
    width:20%;
    float:right;
    margin-right:5%;
}

#bio{
    margin:5%;
}

@media screen and (max-width:767px){
    #self-portrait{
        width:40%;
    }
    #bio{
        margin:2%;
    }
}